# See https://github.com/keepassxreboot/keepassxc/issues/6274 for why this works.
# If gnome-keyring-daemon is still running after applying this, run:
# $ systemctl --user mask --now gnome-keyring-daemon.socket
[D-BUS Service]
Name=org.freedesktop.secrets
Exec=/usr/bin/keepassxc
