# See https://github.com/keepassxreboot/keepassxc/issues/6274 for why this works.
[D-BUS Service]
Name=org.freedesktop.secrets
Exec=/usr/bin/keepassxc
